$text-primary: hsl(0, 0%, 100%);
$gewis-red: #D40000;

$primary: $gewis-red;

$stacked-table-width: 35%;

// Imports
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-vue";
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:500,500i,700,700i&display=swap');

// Global GEWIS font
body {
    font-family: "Lato", "Arial", sans-serif !important;
    font-weight: 400;
}

// Global GEWIS font for headers and lead text pieces
h1, h2, h3, h4, h5, h6, .lead, nav.navbar {
    font-family: 'Raleway', sans-serif !important;
    font-weight: 500;
}

// Class you need to use to make sure tables have correct headers for custom style
.table-header {
    border-bottom: 1px solid gray;
}

/*
 Global styles to change models
 */

.modal {
    .modal-content {
        border-radius: 0;
        border: none;
        min-height: 300px;

        > *,
        > div {
            padding-left: 2rem;
            padding-right: 2rem;
        }

        > * {
            margin-bottom: 0;
        }
    }

    .modal-header {
        border-bottom: none;
    }

    .modal-title {
        font-size: 1rem;
        color: $gewis-red;
        text-transform: uppercase;
    }

    .modal-body {
        padding: 0 1rem;
    }

    .modal-footer {
        border-top: none;
    }

    button {
        background-color: white !important;
        color: $gewis-grey !important;
        border: none !important;
        padding: .375rem 0.5rem !important;
        text-transform: uppercase;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }

    label {
        font-weight: 700;
    }

    .form-group {
        margin-bottom: 0;

        > div {
            margin: auto 0;
        }

        .custom-file-label::after {
            height: 100%;
        }
    }
}

// To make sure that the view always has a certain height and the footer stays away from the content
main {
    margin: 1.5rem 0 #{60 + 1.5 * 16}px 0;
}

// Responsive font-size for the headers. Making sure everything stays nice and readable
h1 {
    font-size: 1.5rem;
}

@include media-breakpoint-up(sm) {
    h1 {
        font-size: 2rem;
    }
}

@include media-breakpoint-up(md) {
    main {
        margin-top: 3rem;
    }

    h1 {
        font-size: 2.5rem;
    }
}

@include media-breakpoint-up(lg) {
    main {
        margin-top: 4rem;
    }

    .modal {
        input {
            width: 75% !important;
        }

        .form-group {
            .custom-file {
                width: 75%;
            }
        }
    }
}
