VUE_APP_DEBUG_STORES=true
VUE_APP_DEVELOP=false
VUE_APP_API_BASE='https://sudosos.gewis.nl/api/v1/'
VUE_APP_GEWIS_TOKEN='sudosos'
VUE_APP_STRIPE_RETURN_URL='https://sudosos.gewis.nl/'
VUE_APP_STRIPE_PUBLISHABLE_KEY='pk_test_51L2gp5Dc07FvE4beZcK9p6086vtUEtemNfBntoGXoeKDWRLdmgRp4aighjD8R6b9e4hsNiucz7sNXhB6XEEL2IUy00LPiofvlm'
