.page-title {
  font-weight: 500;
  font-family: Raleway, sans-serif !important;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.page-subtitle {
  font-weight: 300;
  font-family: Raleway, sans-serif !important;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.page-container, .page-container-wide {
  max-width: 1700px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.content-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.full-width {
  width: 100%;
}

.content-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.full-width {
  width: 100%;
}


@media (min-width: 60rem) {
  .page-container {
    max-width: 60rem;
  }
}

/*TODO: Fix more for different media sizes*/
/*See: https://github.com/sudosos-frontend-vue3/issues/29 */
