:root {
  --surface-ground: var(--p-surface-100);
  --surface-hover: var(--p-surface-100);
}

.dark-mode {
  --surface-ground: var(--p-surface-950) !important;
  --surface-hover: var(--p-surface-800) !important;
}

body {
  background-color: var(--surface-ground);
}
