@use "../../../themes/sudosos-light/variables_light";
@use "../../../themes/variables";
@use "../../mixins";

// core
.p-checkbox {
    position: relative;
    display: inline-flex;
    user-select: none;
    vertical-align: bottom;
}

.p-checkbox-input {
    cursor: pointer;
}

.p-checkbox-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

// theme
.p-checkbox {
    width: variables_light.$checkboxWidth;
    height: variables_light.$checkboxHeight;

    .p-checkbox-input {
        appearance: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        opacity: 0;
        z-index: 1;
        outline: 0 none;
        border: variables_light.$checkboxBorder;
        border-radius: variables_light.$borderRadius;
    }

    .p-checkbox-box {
        border: variables_light.$checkboxBorder;
        background: variables_light.$inputBg;
        width: variables_light.$checkboxWidth;
        height: variables_light.$checkboxHeight;
        color: variables_light.$textColor;
        border-radius: variables_light.$borderRadius;
        transition: variables_light.$formElementTransition;
        outline-color: transparent;

        .p-checkbox-icon {
            transition-duration: variables_light.$transitionDuration;
            color: variables_light.$checkboxIconActiveColor;
            font-size: variables_light.$checkboxIconFontSize;

            &.p-icon {
                width: variables_light.$checkboxIconFontSize;
                height: variables_light.$checkboxIconFontSize;
            }
        }
    }

    &.p-highlight {
        .p-checkbox-box {
            border-color: variables_light.$checkboxActiveBorderColor;
            background: variables_light.$checkboxActiveBg;
        }
    }

    &:not(.p-disabled) {
        &:has(.p-checkbox-input:hover) {
            .p-checkbox-box {
                border-color: variables_light.$inputHoverBorderColor;
            }

            &.p-highlight {
                .p-checkbox-box {
                    border-color: variables_light.$checkboxActiveHoverBorderColor;
                    background: variables_light.$checkboxActiveHoverBg;
                    color: variables_light.$checkboxIconActiveHoverColor;
                }
            }
        }

        &:has(.p-checkbox-input:focus-visible) {
            .p-checkbox-box {
                @include mixins.focused-input();
            }
        }
    }

    &.p-invalid > .p-checkbox-box {
        @include mixins.invalid-input();
    }

    &.p-variant-filled {
        .p-checkbox-box {
            background-color: variables_light.$inputFilledBg;
        }

        &.p-highlight {
            .p-checkbox-box {
                background: variables_light.$checkboxActiveBg;
            }
        }

        &:not(.p-disabled) {
            &:has(.p-checkbox-input:hover) {
                .p-checkbox-box {
                    background-color: variables_light.$inputFilledHoverBg;
                }

                &.p-highlight {
                    .p-checkbox-box {
                        background: variables_light.$checkboxActiveHoverBg;
                    }
                }
            }
        }
    }
}

.p-input-filled {
    .p-checkbox {
        .p-checkbox-box {
            background-color: variables_light.$inputFilledBg;
        }

        &.p-highlight {
            .p-checkbox-box {
                background: variables_light.$checkboxActiveBg;
            }
        }

        &:not(.p-disabled) {
            &:has(.p-checkbox-input:hover) {
                .p-checkbox-box {
                    background-color: variables_light.$inputFilledHoverBg;
                }

                &.p-highlight {
                    .p-checkbox-box {
                        background: variables_light.$checkboxActiveHoverBg;
                    }
                }
            }
        }
    }
}

@if (variables.$highlightBg == variables_light.$checkboxActiveBg) {
    .p-highlight {
        .p-checkbox {
            .p-checkbox-box {
                border-color: variables_light.$checkboxIconActiveColor;
            }
        }
    }
}
