@use "../../../themes/sudosos-light/variables_light";

// core
.p-colorpicker-panel .p-colorpicker-color {
    background: linear-gradient(to top, #000 0%, rgb(0 0 0 / 0) 100%), linear-gradient(to right, #fff 0%, rgb(255 255 255 / 0) 100%)
}

.p-colorpicker-panel .p-colorpicker-hue {
    background: linear-gradient(0deg, red 0, #ff0 17%, #0f0 33%, #0ff 50%, #00f 67%, #f0f 83%, red)
}

// theme
.p-colorpicker-preview  {
    width: variables_light.$colorPickerPreviewWidth;
    height: variables_light.$colorPickerPreviewHeight;
}

.p-colorpicker-panel {
    background: variables_light.$colorPickerBg;
    border: variables_light.$colorPickerBorder;

    .p-colorpicker-color-handle,
    .p-colorpicker-hue-handle {
        border-color: variables_light.$colorPickerHandleColor;
    }
}

.p-colorpicker-overlay-panel {
    box-shadow: variables_light.$inputOverlayShadow;
}