@use '../../../themes/sudosos-light/variables_light';

.p-editor-container {
  .p-editor-toolbar {
    background: variables_light.$editorToolbarBg;
    border-top-right-radius: variables_light.$borderRadius;
    border-top-left-radius: variables_light.$borderRadius;

    &.ql-snow {
      border: variables_light.$editorToolbarBorder;

      .ql-stroke {
        stroke: variables_light.$editorToolbarIconColor;
      }

      .ql-fill {
        fill: variables_light.$editorToolbarIconColor;
      }

      .ql-picker {
        .ql-picker-label {
          border: 0 none;
          color: variables_light.$editorToolbarIconColor;

          &:hover {
            color: variables_light.$editorToolbarIconHoverColor;

            .ql-stroke {
              stroke: variables_light.$editorToolbarIconHoverColor;
            }

            .ql-fill {
              fill: variables_light.$editorToolbarIconHoverColor;
            }
          }
        }

        &.ql-expanded {
          .ql-picker-label {
            color: variables_light.$editorToolbarIconHoverColor;

            .ql-stroke {
              stroke: variables_light.$editorToolbarIconHoverColor;
            }

            .ql-fill {
              fill: variables_light.$editorToolbarIconHoverColor;
            }
          }

          .ql-picker-options {
            background: variables_light.$inputOverlayBg;
            border: variables_light.$inputOverlayBorder;
            box-shadow: variables_light.$inputOverlayShadow;
            border-radius: variables_light.$borderRadius;
            padding: variables_light.$inputListPadding;

            .ql-picker-item {
              color: variables_light.$inputListItemTextColor;

              &:hover {
                color: variables_light.$inputListItemTextHoverColor;
                background: variables_light.$inputListItemHoverBg;
              }
            }
          }

          &:not(.ql-icon-picker) {
            .ql-picker-item {
              padding: variables_light.$inputListItemPadding;
            }
          }
        }
      }
    }
  }

  .p-editor-content {
    border-bottom-right-radius: variables_light.$borderRadius;
    border-bottom-left-radius: variables_light.$borderRadius;

    &.ql-snow {
      border: variables_light.$editorContentBorder;
    }

    .ql-editor {
      background: variables_light.$inputBg;
      color: variables_light.$inputTextColor;
      border-bottom-right-radius: variables_light.$borderRadius;
      border-bottom-left-radius: variables_light.$borderRadius;
    }
  }

  .ql-snow.ql-toolbar button:hover,
  .ql-snow.ql-toolbar button:focus {
    color: variables_light.$editorToolbarIconHoverColor;

    .ql-stroke {
      stroke: variables_light.$editorToolbarIconHoverColor;
    }

    .ql-fill {
      fill: variables_light.$editorToolbarIconHoverColor;
    }
  }

  .ql-snow.ql-toolbar button.ql-active,
  .ql-snow.ql-toolbar .ql-picker-label.ql-active,
  .ql-snow.ql-toolbar .ql-picker-item.ql-selected {
    color: variables_light.$editorIconActiveColor;

    .ql-stroke {
      stroke: variables_light.$editorIconActiveColor;
    }

    .ql-fill {
      fill: variables_light.$editorIconActiveColor;
    }

    .ql-picker-label {
      color: variables_light.$editorIconActiveColor;
    }
  }
}
