@use '../../../themes/sudosos-light/variables_light';

// core
.p-inputgroup {
  display: flex;
  align-items: stretch;
  width: 100%;
}

.p-inputgroup-addon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-inputgroup .p-float-label {
  display: flex;
  align-items: stretch;
  width: 100%;
}

.p-inputgroup .p-inputtext,
.p-fluid .p-inputgroup .p-inputtext,
.p-inputgroup .p-inputwrapper,
.p-fluid .p-inputgroup .p-input {
  flex: 1 1 auto;
  width: 1%;
}

// theme
.p-inputgroup-addon {
  background: variables_light.$inputGroupBg;
  color: variables_light.$inputGroupTextColor;
  border-top: variables_light.$inputBorder;
  border-left: variables_light.$inputBorder;
  border-bottom: variables_light.$inputBorder;
  padding: variables_light.$inputPadding;
  min-width: variables_light.$inputGroupAddOnMinWidth;

  &:last-child {
    border-right: variables_light.$inputBorder;
  }
}

.p-inputgroup {
  > .p-component,
  > .p-inputwrapper > .p-inputtext,
  > .p-float-label > .p-component {
    border-radius: 0;
    margin: 0;

    + .p-inputgroup-addon {
      border-left: 0 none;
    }

    &:focus {
      z-index: 1;

      ~ label {
        z-index: 1;
      }
    }
  }
}

.p-inputgroup-addon:first-child,
.p-inputgroup button:first-child,
.p-inputgroup input:first-child,
.p-inputgroup > .p-inputwrapper:first-child,
.p-inputgroup > .p-inputwrapper:first-child > .p-inputtext {
  border-top-left-radius: variables_light.$borderRadius;
  border-bottom-left-radius: variables_light.$borderRadius;
}

.p-inputgroup .p-float-label:first-child input {
  border-top-left-radius: variables_light.$borderRadius;
  border-bottom-left-radius: variables_light.$borderRadius;
}

.p-inputgroup-addon:last-child,
.p-inputgroup button:last-child,
.p-inputgroup input:last-child,
.p-inputgroup > .p-inputwrapper:last-child,
.p-inputgroup > .p-inputwrapper:last-child > .p-inputtext {
  border-top-right-radius: variables_light.$borderRadius;
  border-bottom-right-radius: variables_light.$borderRadius;
}

.p-inputgroup .p-float-label:last-child input {
  border-top-right-radius: variables_light.$borderRadius;
  border-bottom-right-radius: variables_light.$borderRadius;
}

.p-fluid {
  .p-inputgroup {
    .p-button {
      width: auto;

      &.p-button-icon-only {
        width: variables_light.$buttonIconOnlyWidth;
      }
    }
  }
}
