@use 'sass:list';
@use '../../../themes/sudosos-light/variables_light';

.p-inputotp {
  display: flex;
  align-items: center;
  gap: variables_light.$inlineSpacing;
}

.p-inputotp-input {
  text-align: center;
  width: 2 * list.nth(variables_light.$inputPadding, 2) + 1rem;
}
