@use "sass:list";
@use "../../../themes/sudosos-light/variables_light";
@use "../../../themes/variables";
@use "../../mixins";

@use "sass:math";

// core
.p-multiselect {
    display: inline-flex;
    cursor: pointer;
    user-select: none;
}

.p-multiselect-trigger {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.p-multiselect-label-container {
    overflow: hidden;
    flex: 1 1 auto;
    cursor: pointer;
}

.p-multiselect-label {
    display: block;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
}

.p-multiselect-label-empty {
    overflow: hidden;
    visibility: hidden;
}

.p-multiselect-token {
    cursor: default;
    display: inline-flex;
    align-items: center;
    flex: 0 0 auto;
}

.p-multiselect-token-icon {
    cursor: pointer;
}

.p-multiselect .p-multiselect-panel {
    min-width: 100%;
}

.p-multiselect-items-wrapper {
    overflow: auto;
}

.p-multiselect-items {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.p-multiselect-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: normal;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
}

.p-multiselect-item-group {
    cursor: auto;
}

.p-multiselect-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.p-multiselect-filter-container {
    position: relative;
    flex: 1 1 auto;
}

.p-multiselect-filter-icon {
    position: absolute;
    top: 50%;
    margin-top: -0.5rem;
}

.p-multiselect-filter-container .p-inputtext {
    width: 100%;
}

.p-multiselect-close {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    overflow: hidden;
    position: relative;
    margin-left: auto;
}

.p-fluid .p-multiselect {
    display: flex;
}

// theme
.p-multiselect {
    background: variables_light.$inputBg;
    border: variables_light.$inputBorder;
    transition: variables_light.$formElementTransition;
    border-radius: variables_light.$borderRadius;
    outline-color: transparent;

    &:not(.p-disabled):hover {
        border-color: variables_light.$inputHoverBorderColor;
    }

    &:not(.p-disabled).p-focus {
        @include mixins.focused-input();
    }

    &.p-variant-filled {
        background: variables_light.$inputFilledBg;

        &:not(.p-disabled):hover {
            background-color: variables_light.$inputFilledHoverBg;
        }

        &:not(.p-disabled).p-focus {
            background-color: variables_light.$inputFilledFocusBg;
        }
    }

    .p-multiselect-label {
        padding: variables_light.$inputPadding;
        transition: variables_light.$formElementTransition;

        &.p-placeholder {
            color: variables_light.$inputPlaceholderTextColor;
        }
    }

    &.p-multiselect-chip {
        .p-multiselect-token {
            padding: math.div(list.nth(variables_light.$inputPadding, 1), 2) list.nth(variables_light.$inputPadding, 2);
            margin-right: variables_light.$inlineSpacing;
            background: variables_light.$chipBg;
            color: variables_light.$chipTextColor;
            border-radius: variables_light.$chipBorderRadius;

            .p-multiselect-token-icon {
                margin-left: variables_light.$inlineSpacing;
            }
        }
    }

    .p-multiselect-trigger {
        background: transparent;
        color: variables_light.$inputIconColor;
        width: variables_light.$inputGroupAddOnMinWidth;
        border-top-right-radius: variables_light.$borderRadius;
        border-bottom-right-radius: variables_light.$borderRadius;
    }

    &.p-invalid.p-component {
        @include mixins.invalid-input();
    }
}

.p-inputwrapper-filled {
    &.p-multiselect {
        &.p-multiselect-chip {
            .p-multiselect-label {
                padding: math.div(list.nth(variables_light.$inputPadding, 1), 2)
                    list.nth(variables_light.$inputPadding, 2);
            }
        }
    }
}

.p-multiselect-panel {
    background: variables_light.$inputOverlayBg;
    color: variables_light.$inputListTextColor;
    border: variables_light.$inputOverlayBorder;
    border-radius: variables_light.$borderRadius;
    box-shadow: variables_light.$inputOverlayShadow;

    .p-multiselect-header {
        padding: variables_light.$inputListHeaderPadding;
        border-bottom: variables_light.$inputListHeaderBorder;
        color: variables_light.$inputListHeaderTextColor;
        background: variables_light.$inputOverlayHeaderBg;
        margin: variables_light.$inputListHeaderMargin;
        border-top-right-radius: variables_light.$borderRadius;
        border-top-left-radius: variables_light.$borderRadius;

        .p-multiselect-filter-container {
            .p-inputtext {
                padding-right: list.nth(variables_light.$inputPadding, 2) + variables_light.$primeIconFontSize;
            }

            .p-multiselect-filter-icon {
                right: list.nth(variables_light.$inputPadding, 2);
                color: variables_light.$inputIconColor;
            }
        }

        .p-checkbox {
            margin-right: variables_light.$inlineSpacing;
        }

        .p-multiselect-close {
            margin-left: variables_light.$inlineSpacing;
            @include mixins.action-icon();
        }
    }

    .p-multiselect-items {
        padding: variables_light.$inputListPadding;

        .p-multiselect-item {
            margin: variables_light.$inputListItemMargin;
            padding: variables_light.$inputListItemPadding;
            border: variables_light.$inputListItemBorder;
            color: variables_light.$inputListItemTextColor;
            background: variables_light.$inputListItemBg;
            transition: variables_light.$listItemTransition;
            border-radius: variables_light.$inputListItemBorderRadius;

            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }

            &.p-highlight {
                color: variables.$highlightTextColor;
                background: variables.$highlightBg;

                &.p-focus {
                    background: variables.$highlightFocusBg;
                }
            }

            &:not(.p-highlight):not(.p-disabled) {
                &.p-focus {
                    color: variables_light.$inputListItemTextHoverColor;
                    background: variables_light.$inputListItemHoverBg;
                }
            }

            .p-checkbox {
                margin-right: variables_light.$inlineSpacing;
            }
        }

        .p-multiselect-item-group {
            margin: variables_light.$submenuHeaderMargin;
            padding: variables_light.$submenuHeaderPadding;
            color: variables_light.$submenuHeaderTextColor;
            background: variables_light.$submenuHeaderBg;
            font-weight: variables_light.$submenuHeaderFontWeight;
        }

        .p-multiselect-empty-message {
            padding: variables_light.$inputListItemPadding;
            color: variables_light.$inputListItemTextColor;
            background: variables_light.$inputListItemBg;
        }
    }
}

