@use '../../../themes/sudosos-light/variables_light';
@use '../../../themes/variables';
@use '../../mixins';

@use 'sass:math';

// core
.p-rating {
  position: relative;
  display: flex;
  align-items: center;
}

.p-rating-item {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.p-rating.p-readonly .p-rating-item {
  cursor: default;
}

// theme
.p-rating {
  gap: variables_light.$inlineSpacing;

  .p-rating-item {
    outline-color: transparent;
    border-radius: 50%;

    .p-rating-icon {
      color: variables_light.$ratingStarIconOffColor;
      transition: variables_light.$formElementTransition;
      font-size: variables_light.$ratingIconFontSize;

      &.p-icon {
        width: variables_light.$ratingIconFontSize;
        height: variables_light.$ratingIconFontSize;
      }

      &.p-rating-cancel {
        color: variables_light.$ratingCancelIconColor;
      }
    }

    &.p-focus {
      @include mixins.focused();
    }

    &.p-rating-item-active {
      .p-rating-icon {
        color: variables_light.$ratingStarIconOnColor;
      }
    }
  }

  &:not(.p-disabled):not(.p-readonly) {
    .p-rating-item {
      &:hover {
        .p-rating-icon {
          color: variables_light.$ratingStarIconHoverColor;

          &.p-rating-cancel {
            color: variables_light.$ratingCancelIconHoverColor;
          }
        }
      }
    }
  }
}

@if (variables.$highlightBg == variables_light.$ratingStarIconOnColor) {
  .p-highlight {
    .p-rating {
      .p-rating-item {
        &.p-rating-item-active {
          .p-rating-icon {
            color: variables.$highlightTextColor;
          }
        }
      }
    }
  }
}
