@use '../../../themes/sudosos-light/variables_light';
@use '../../mixins';

.p-selectbutton {
  .p-button {
    background: variables_light.$toggleButtonBg;
    border: variables_light.$toggleButtonBorder;
    color: variables_light.$toggleButtonTextColor;
    transition: variables_light.$formElementTransition;

    .p-button-icon-left,
    .p-button-icon-right {
      color: variables_light.$toggleButtonIconColor;
    }

    &:not(.p-disabled):not(.p-highlight):hover {
      background: variables_light.$toggleButtonHoverBg;
      border-color: variables_light.$toggleButtonHoverBorderColor;
      color: variables_light.$toggleButtonTextHoverColor;

      .p-button-icon-left,
      .p-button-icon-right {
        color: variables_light.$toggleButtonIconHoverColor;
      }
    }

    &.p-highlight {
      background: variables_light.$toggleButtonActiveBg;
      border-color: variables_light.$toggleButtonActiveBorderColor;
      color: variables_light.$toggleButtonTextActiveColor;

      .p-button-icon-left,
      .p-button-icon-right {
        color: variables_light.$toggleButtonIconActiveColor;
      }

      &:hover {
        background: variables_light.$toggleButtonActiveHoverBg;
        border-color: variables_light.$toggleButtonActiveHoverBorderColor;
        color: variables_light.$toggleButtonTextActiveHoverColor;

        .p-button-icon-left,
        .p-button-icon-right {
          color: variables_light.$toggleButtonIconActiveHoverColor;
        }
      }
    }
  }

  &.p-invalid > .p-button {
    @include mixins.invalid-input();
  }
}
