@use "../../../themes/sudosos-light/variables_light";
@use "../../mixins";

@use 'sass:math';

// core
.p-slider {
    position: relative;
}

.p-slider .p-slider-handle {
    cursor: grab;
    touch-action: none;
    display: block;
}

.p-slider-range {
    display: block;
}

.p-slider-horizontal .p-slider-range {
    top: 0;
    left: 0;
    height: 100%;
}

.p-slider-horizontal .p-slider-handle {
    top: 50%;
}

.p-slider-vertical {
    height: 100px;
}

.p-slider-vertical .p-slider-handle {
    left: 50%;
}

.p-slider-vertical .p-slider-range {
    bottom: 0;
    left: 0;
    width: 100%;
}

// theme
.p-slider {
    background: variables_light.$sliderBg;
    border: variables_light.$sliderBorder;
    border-radius: variables_light.$borderRadius;

    &.p-slider-horizontal {
        height: variables_light.$sliderHorizontalHeight;

        .p-slider-handle {
            margin-top: math.div(-1 * variables_light.$sliderHandleHeight, 2);
            margin-left: math.div(-1 * variables_light.$sliderHandleWidth, 2);
        }
    }

    &.p-slider-vertical {
        width: variables_light.$sliderVerticalWidth;

        .p-slider-handle {
            margin-left: math.div(-1 * variables_light.$sliderHandleWidth, 2);
            margin-bottom: math.div(-1 * variables_light.$sliderHandleHeight, 2);
        }
    }

    .p-slider-handle {
        height: variables_light.$sliderHandleHeight;
        width: variables_light.$sliderHandleWidth;
        background: variables_light.$sliderHandleBg;
        border: variables_light.$sliderHandleBorder;
        border-radius: variables_light.$sliderHandleBorderRadius;
        transition: variables_light.$formElementTransition;
        outline-color: transparent;

        &:focus-visible {
            @include mixins.focused();
        }
    }

    .p-slider-range {
        background: variables_light.$sliderRangeBg;
        border-radius: variables_light.$borderRadius;
    }

    &:not(.p-disabled) {
        .p-slider-handle:hover {
            background: variables_light.$sliderHandleHoverBg;
            border-color: variables_light.$sliderHandleHoverBorderColor;
        }
    }
}
