:root {
  --p-progressspinner-color-one: var(--p-primary-color);
  --p-progressspinner-color-two: var(--p-primary-color);
  --p-progressspinner-color-three: var(--p-primary-color);
  --p-progressspinner-color-four: var(--p-primary-color);
}
