@use '../../../themes/sudosos-light/variables_light';
@use '../../../themes/variables';
@use '../../mixins';

.p-column-filter-row {
  .p-column-filter-menu-button,
  .p-column-filter-clear-button {
    margin-left: variables_light.$inlineSpacing;
  }
}

.p-column-filter-menu-button {
  width: variables_light.$actionIconWidth;
  height: variables_light.$actionIconHeight;
  color: variables_light.$actionIconColor;
  border: variables_light.$actionIconBorder;
  background: variables_light.$actionIconBg;
  border-radius: variables_light.$actionIconBorderRadius;
  transition: variables_light.$actionIconTransition;
  outline-color: transparent;

  &:hover {
    color: variables_light.$actionIconHoverColor;
    border-color: variables_light.$actionIconHoverBorderColor;
    background: variables_light.$actionIconHoverBg;
  }

  &.p-column-filter-menu-button-open,
  &.p-column-filter-menu-button-open:hover {
    background: variables_light.$actionIconHoverBg;
    color: variables_light.$actionIconHoverColor;
  }

  &.p-column-filter-menu-button-active,
  &.p-column-filter-menu-button-active:hover {
    background: variables.$highlightBg;
    color: variables.$highlightTextColor;
  }

  &:focus-visible {
    @include mixins.focused();
  }
}

.p-column-filter-clear-button {
  width: variables_light.$actionIconWidth;
  height: variables_light.$actionIconHeight;
  color: variables_light.$actionIconColor;
  border: variables_light.$actionIconBorder;
  background: variables_light.$actionIconBg;
  border-radius: variables_light.$actionIconBorderRadius;
  transition: variables_light.$actionIconTransition;
  outline-color: transparent;

  &:hover {
    color: variables_light.$actionIconHoverColor;
    border-color: variables_light.$actionIconHoverBorderColor;
    background: variables_light.$actionIconHoverBg;
  }

  &:focus-visible {
    @include mixins.focused();
  }
}

.p-column-filter-overlay {
  background: variables_light.$inputOverlayBg;
  color: variables_light.$inputListTextColor;
  border: variables_light.$inputOverlayBorder;
  border-radius: variables_light.$borderRadius;
  box-shadow: variables_light.$inputOverlayShadow;
  min-width: variables_light.$menuWidth;

  .p-column-filter-row-items {
    padding: variables_light.$inputListPadding;

    .p-column-filter-row-item {
      margin: variables_light.$inputListItemMargin;
      padding: variables_light.$inputListItemPadding;
      border: variables_light.$inputListItemBorder;
      color: variables_light.$inputListItemTextColor;
      background: variables_light.$inputListItemBg;
      transition: variables_light.$listItemTransition;
      border-radius: variables_light.$inputListItemBorderRadius;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &.p-highlight {
        color: variables.$highlightTextColor;
        background: variables.$highlightBg;
      }

      &:not(.p-highlight):not(.p-disabled):hover {
        color: variables_light.$inputListItemTextHoverColor;
        background: variables_light.$inputListItemHoverBg;
      }

      &:focus-visible {
        @include mixins.focused-listitem();
      }
    }

    .p-column-filter-separator {
      border-top: variables_light.$divider;
      margin: variables_light.$menuSeparatorMargin;
    }
  }
}

.p-column-filter-overlay-menu {
  .p-column-filter-operator {
    padding: variables_light.$inputListHeaderPadding;
    border-bottom: variables_light.$inputListHeaderBorder;
    color: variables_light.$inputListHeaderTextColor;
    background: variables_light.$inputOverlayHeaderBg;
    margin: variables_light.$inputListHeaderMargin;
    border-top-right-radius: variables_light.$borderRadius;
    border-top-left-radius: variables_light.$borderRadius;
  }

  .p-column-filter-constraint {
    padding: variables_light.$panelContentPadding;
    border-bottom: variables_light.$divider;

    .p-column-filter-matchmode-dropdown {
      margin-bottom: variables_light.$inlineSpacing;
    }

    .p-column-filter-remove-button {
      margin-top: variables_light.$inlineSpacing;
    }

    &:last-child {
      border-bottom: 0 none;
    }
  }

  .p-column-filter-add-rule {
    padding: variables_light.$panelFooterPadding;
  }

  .p-column-filter-buttonbar {
    padding: variables_light.$panelContentPadding;
  }
}
