@use '../../../themes/sudosos-light/variables_light';
@use '../../../themes/variables';

// core
.p-paginator-default {
  display: flex;
}

.p-paginator {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.p-paginator-left-content {
  margin-right: auto;
}

.p-paginator-right-content {
  margin-left: auto;
}

.p-paginator-page,
.p-paginator-next,
.p-paginator-last,
.p-paginator-first,
.p-paginator-prev,
.p-paginator-current {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  user-select: none;
  overflow: hidden;
  position: relative;
}

.p-paginator-element:focus {
  z-index: 1;
  position: relative;
}

// theme
.p-paginator {
  background: variables_light.$paginatorBg;
  color: variables_light.$paginatorTextColor;
  border: variables_light.$paginatorBorder;
  border-width: variables_light.$paginatorBorderWidth;
  padding: variables_light.$paginatorPadding;
  border-radius: variables_light.$borderRadius;

  .p-paginator-first,
  .p-paginator-prev,
  .p-paginator-next,
  .p-paginator-last {
    background-color: variables_light.$paginatorElementBg;
    border: variables_light.$paginatorElementBorder;
    color: variables_light.$paginatorElementIconColor;
    min-width: variables_light.$paginatorElementWidth;
    height: variables_light.$paginatorElementHeight;
    margin: variables_light.$paginatorElementMargin;
    transition: variables_light.$listItemTransition;
    border-radius: variables_light.$paginatorElementBorderRadius;

    &:not(.p-disabled):not(.p-highlight):hover {
      background: variables_light.$paginatorElementHoverBg;
      border-color: variables_light.$paginatorElementHoverBorderColor;
      color: variables_light.$paginatorElementIconHoverColor;
    }
  }

  .p-paginator-first {
    border-top-left-radius: variables_light.$paginatorElementBorderRadius;
    border-bottom-left-radius: variables_light.$paginatorElementBorderRadius;
  }

  .p-paginator-last {
    border-top-right-radius: variables_light.$paginatorElementBorderRadius;
    border-bottom-right-radius: variables_light.$paginatorElementBorderRadius;
  }

  .p-dropdown {
    margin-left: variables_light.$inlineSpacing;
    margin-right: variables_light.$inlineSpacing;
    height: variables_light.$paginatorElementHeight;

    .p-dropdown-label {
      padding-right: 0;
    }
  }

  .p-paginator-page-input {
    margin-left: variables_light.$inlineSpacing;
    margin-right: variables_light.$inlineSpacing;

    .p-inputtext {
      max-width: variables_light.$paginatorElementWidth;
    }
  }

  .p-paginator-current {
    background-color: variables_light.$paginatorElementBg;
    border: variables_light.$paginatorElementBorder;
    color: variables_light.$paginatorElementIconColor;
    min-width: variables_light.$paginatorElementWidth;
    height: variables_light.$paginatorElementHeight;
    margin: variables_light.$paginatorElementMargin;
    padding: 0 variables_light.$inlineSpacing;
  }

  .p-paginator-pages {
    .p-paginator-page {
      background-color: variables_light.$paginatorElementBg;
      border: variables_light.$paginatorElementBorder;
      color: variables_light.$paginatorElementIconColor;
      min-width: variables_light.$paginatorElementWidth;
      height: variables_light.$paginatorElementHeight;
      margin: variables_light.$paginatorElementMargin;
      transition: variables_light.$listItemTransition;
      border-radius: variables_light.$paginatorElementBorderRadius;

      &.p-highlight {
        background: variables.$highlightBg;
        border-color: variables.$highlightBg;
        color: variables.$highlightTextColor;
      }

      &:not(.p-highlight):hover {
        background: variables_light.$paginatorElementHoverBg;
        border-color: variables_light.$paginatorElementHoverBorderColor;
        color: variables_light.$paginatorElementIconHoverColor;
      }
    }
  }
}
