@use "sass:list";
@use "../../../themes/sudosos-light/variables_light";
@use "../../../themes/variables";
@use "../../mixins";

// core
.p-tree-container {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: auto;
}

.p-treenode-children {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.p-tree-wrapper {
    overflow: auto;
}

.p-treenode-selectable {
    cursor: pointer;
    user-select: none;
}

.p-tree-toggler {
    cursor: pointer;
    user-select: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
}

.p-treenode-leaf > .p-treenode-content .p-tree-toggler {
    visibility: hidden;
}

.p-treenode-content {
    display: flex;
    align-items: center;
}

.p-tree-filter {
    width: 100%;
}

.p-tree-filter-container {
    position: relative;
    display: block;
    width: 100%;
}

.p-tree-filter-icon {
    position: absolute;
    top: 50%;
    margin-top: -0.5rem;
}

.p-tree-loading {
    position: relative;
    min-height: 4rem;
}

.p-tree .p-tree-loading-overlay {
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.p-tree-flex-scrollable {
    display: flex;
    flex: 1;
    height: 100%;
    flex-direction: column;
}

.p-tree-flex-scrollable .p-tree-wrapper {
    flex: 1;
}

// theme
.p-tree {
    border: variables_light.$panelContentBorder;
    background: variables_light.$panelContentBg;
    color: variables_light.$panelContentTextColor;
    padding: variables_light.$panelContentPadding;
    border-radius: variables_light.$borderRadius;

    .p-tree-container {
        .p-treenode {
            padding: variables_light.$treeNodePadding;
            outline: 0 none;

            &:focus > .p-treenode-content {
                @include mixins.focused-listitem();
            }

            .p-treenode-content {
                border-radius: variables_light.$borderRadius;
                transition: variables_light.$listItemTransition;
                padding: variables_light.$treeNodeContentPadding;

                .p-tree-toggler {
                    margin-right: variables_light.$inlineSpacing;
                    @include mixins.action-icon();
                }

                .p-treenode-icon {
                    margin-right: variables_light.$inlineSpacing;
                    color: variables_light.$treeNodeIconColor;
                }

                .p-checkbox {
                    margin-right: variables_light.$inlineSpacing;

                    &.p-indeterminate {
                        .p-checkbox-icon {
                            color: variables_light.$textColor;
                        }
                    }
                }

                &.p-highlight {
                    background: variables.$highlightBg;
                    color: variables.$highlightTextColor;

                    .p-tree-toggler,
                    .p-treenode-icon {
                        color: variables.$highlightTextColor;

                        &:hover {
                            color: variables.$highlightTextColor;
                        }
                    }
                }

                &.p-treenode-selectable:not(.p-highlight):hover {
                    background: variables_light.$inputListItemHoverBg;
                    color: variables_light.$inputListItemTextHoverColor;
                }
            }
        }
    }

    .p-tree-filter-container {
        margin-bottom: variables_light.$inlineSpacing;

        .p-tree-filter {
            width: 100%;
            padding-right: list.nth(variables_light.$inputPadding, 2) + variables_light.$primeIconFontSize;
        }

        .p-tree-filter-icon {
            right: list.nth(variables_light.$inputPadding, 2);
            color: variables_light.$inputIconColor;
        }
    }

    .p-treenode-children {
        padding: variables_light.$treeNodeChildrenPadding;
    }

    .p-tree-loading-icon {
        font-size: variables_light.$loadingIconFontSize;

        &.p-icon {
            width:  variables_light.$loadingIconFontSize;
            height: variables_light.$loadingIconFontSize;
        }
    }
}
