@import url('../assets/main.css');

.page-title {
  font-weight: 500;
  font-family: Raleway, sans-serif !important;
  color: black;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.page-container {
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 80px;
}

@media (min-width: 992px) {
  .page-container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .page-container {
    max-width: 1140px;
  }
}

.content-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

/*TODO: Fix more for different media sizes*/
