.page-title {
  font-weight: 500;
  font-family: Raleway, sans-serif !important;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.page-subtitle {
  font-weight: 300;
  font-family: Raleway, sans-serif !important;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.page-container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 4rem auto 1rem;
}

.content-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.full-width {
  width: 100%;
}

.content-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.full-width {
  width: 100%;
}

@media (min-width: 992px) {
  .page-container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .page-container {
    max-width: 1140px;
  }
}


/*TODO: Fix more for different media sizes*/
/*See: https://github.com/sudosos-frontend-vue3/issues/29 */
