$footer-height: 60px;

body {
    margin-bottom: $footer-height;
}

html {
    position: relative;
    min-height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;

    height: $footer-height;
    line-height: $footer-height;

    background-color: #f5f5f5;
}