#TransactionBox {
  display: inline-block;
  margin-left: 10px;
  padding: 5px;
  width: 55rem;
}

#RecentTransactionsOverzicht {
  padding: 5px;
  text-align:left;
}

#RecentTransactionList {
  list-style: none;
  padding: 0;
}

#RecentTransactionList > thead {
  border-bottom: 1px solid grey;
}

#RecentTransactionList > tr > td {
  padding-right: 2rem;
  padding-bottom: 5px;
}

#RecentTransactionList > thead > td {
  padding-right: 2rem;
  padding-bottom: 5px;
}

#RecentTransactions {
  padding-top: 5rem;
}

#RecentTransactionsContainer {
  display: table;
  margin: 0 auto;
}

#SaldoBox {
  padding: 10px;
  float: left;
}

.card-title {
  color: red;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.card {
  border: none;
  background-color: #f8f8f8;
  padding: 1.25rem;
}

.card-body {
  padding: 0;
  border: none;
}

.card-footer {
  background-color: #f2f2f2;
  border: none;
  color: gray;
}

#SaldoText {
  font-weight: bolder;
  font-size: 50px;
  text-align: center;
}

#SaldoBox > .card {
  padding-left: 2rem;
}