.saldoCard {
    background: rgba(0, 0, 0, 0.05);
}
h2 {
    color: #D40026;
}

.footer {
    background: rgba(0, 0, 0, 0.075);
}

a {
    color: #D40026;
    text-decoration: none;
}
a:hover {
    color: #880018;
    text-decoration: underline;
}
