@use "sass:meta";
@use "../../../themes/sudosos-light/variables_light";

// core
.p-badge {
    display: inline-block;
    border-radius: 10px;
    text-align: center;
    padding: 0 .5rem;
}

.p-overlay-badge {
    position: relative;
}

.p-overlay-badge .p-badge {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%,-50%);
    transform-origin: 100% 0;
    margin: 0;
}

.p-badge.p-badge-dot {
    width: .5rem;
    min-width: .5rem;
    height: .5rem;
    border-radius: 50%;
    padding: 0;
}

.p-badge-no-gutter {
    padding: 0;
    border-radius: 50%;
}

// theme
.p-badge {
    background: variables_light.$badgeBg;
    color: variables_light.$badgeTextColor;
    font-size: variables_light.$badgeFontSize;
    font-weight: variables_light.$badgeFontWeight;
    min-width: variables_light.$badgeMinWidth;
    height: variables_light.$badgeHeight;
    line-height: variables_light.$badgeHeight;

    &.p-badge-secondary {
        background-color: variables_light.$secondaryButtonBg;
        color: variables_light.$secondaryButtonTextColor;
    }

    &.p-badge-success {
        background-color: variables_light.$successButtonBg;
        color: variables_light.$successButtonTextColor;
    }

    &.p-badge-info {
        background-color: variables_light.$infoButtonBg;
        color: variables_light.$infoButtonTextColor;
    }

    &.p-badge-warning {
        background-color: variables_light.$warningButtonBg;
        color: variables_light.$warningButtonTextColor;
    }

    &.p-badge-danger {
        background-color: variables_light.$dangerButtonBg;
        color: variables_light.$dangerButtonTextColor;
    }

    &.p-badge-danger-inverse {
        background-color: variables_light.$dangerButtonTextColor;
        color: variables_light.$dangerButtonBg;
    }

    @if meta.variable-exists(secondaryMessageBg) {
        &.p-badge-secondary {
            background-color: variables_light.$secondaryButtonBg;
            color: variables_light.$secondaryButtonTextColor;
        }

        &.p-badge-contrast {
            background-color: variables_light.$contrastButtonBg;
            color: variables_light.$contrastButtonTextColor;
        }
    }

    &.p-badge-lg {
        font-size: 1.5 * variables_light.$badgeFontSize;
        min-width: 1.5 * variables_light.$badgeMinWidth;
        height: 1.5 * variables_light.$badgeHeight;
        line-height: 1.5 * variables_light.$badgeHeight;
    }

    &.p-badge-xl {
        font-size: 2 * variables_light.$badgeFontSize;
        min-width: 2 * variables_light.$badgeMinWidth;
        height: 2 * variables_light.$badgeHeight;
        line-height: 2 * variables_light.$badgeHeight;
    }
}
