@use 'sass:list';
@use '../../../themes/sudosos-light/variables_light';
@use '../../mixins';

@use 'sass:math';

// core
.p-chip {
  display: inline-flex;
  align-items: center;
}

.p-chip-text {
  line-height: 1.5;
}

.p-chip-icon.pi {
  line-height: 1.5;
}

.p-chip-remove-icon {
  line-height: 1.5;
  cursor: pointer;
}

.p-chip img {
  border-radius: 50%;
}

// theme
.p-chip {
  background-color: variables_light.$chipBg;
  color: variables_light.$chipTextColor;
  border-radius: variables_light.$chipBorderRadius;
  padding: 0 list.nth(variables_light.$inputPadding, 2);

  .p-chip-text {
    line-height: 1.5;
    margin-top: math.div(list.nth(variables_light.$inputPadding, 1), 2);
    margin-bottom: math.div(list.nth(variables_light.$inputPadding, 1), 2);
  }

  .p-chip-icon {
    margin-right: variables_light.$inlineSpacing;
  }

  img {
    width: 1.5 + list.nth(variables_light.$inputPadding, 1);
    height: 1.5 + list.nth(variables_light.$inputPadding, 1);
    margin-left: -1 * list.nth(variables_light.$inputPadding, 2);
    margin-right: variables_light.$inlineSpacing;
  }

  .p-chip-remove-icon {
    margin-left: variables_light.$inlineSpacing;
    border-radius: variables_light.$borderRadius;
    transition: variables_light.$actionIconTransition;
    outline-color: transparent;

    &:focus-visible {
      @include mixins.focused();
    }

    &:focus {
      outline: 0 none;
    }
  }
}
