@use "../../../themes/sudosos-light/variables_light";
@use "../../mixins";

// core
.p-inplace .p-inplace-display {
    display: inline;
    cursor: pointer;
}

.p-inplace .p-inplace-content {
    display: inline;
}

.p-fluid .p-inplace.p-inplace-closable .p-inplace-content {
    display: flex;
}

.p-fluid .p-inplace.p-inplace-closable .p-inplace-content > .p-inputtext {
    flex: 1 1 auto;
    width: 1%;
}

// theme
.p-inplace {
    .p-inplace-display {
        padding: variables_light.$inplacePadding;
        border-radius: variables_light.$borderRadius;
        transition: variables_light.$formElementTransition;
        outline-color: transparent;

        &:not(.p-disabled):hover {
            background: variables_light.$inplaceHoverBg;
            color: variables_light.$inplaceTextHoverColor;
        }

        &:focus {
            @include mixins.focused();
        }
    }
}

