@use "../../../themes/sudosos-light/variables_light";

// core
.p-terminal {
	height: 18rem;
	overflow: auto;
}

.p-terminal-prompt-container {
	display: flex;
	align-items: center;
}

.p-terminal-input {
	flex: 1 1 auto;
	border: 0 none;
	background-color: transparent;
	color: inherit;
	padding: 0;
	outline: 0 none;
}

.p-terminal-input::-ms-clear {
	display: none;
}

// theme
.p-terminal {
	background: variables_light.$panelContentBg;
	color: variables_light.$panelContentTextColor;
	border: variables_light.$panelContentBorder;
	padding: variables_light.$panelContentPadding;

	.p-terminal-input {
		font-family: var(--font-family);
		font-feature-settings: var(--font-feature-settings, normal);
		font-size: variables_light.$inputTextFontSize;
	}
}
