@use "../../../themes/sudosos-light/variables_light";
@use "../../mixins";

// core
.p-contextmenu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.p-contextmenu .p-submenu-list {
    position: absolute;
    min-width: 100%;
    z-index: 1;
}

.p-contextmenu .p-menuitem-link {
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none;
    overflow: hidden;
    position: relative;
}

.p-contextmenu .p-menuitem-text {
    line-height: 1;
}

.p-contextmenu .p-menuitem {
    position: relative;
}

.p-contextmenu .p-menuitem-link .p-submenu-icon {
    margin-left: auto;
}

.p-contextmenu-enter-from,
.p-contextmenu-leave-active {
    opacity: 0;
}

.p-contextmenu-enter-active {
    transition: opacity 250ms;
}

// theme
.p-contextmenu {
    padding: variables_light.$verticalMenuPadding;
    background: variables_light.$overlayMenuBg;
    color: variables_light.$menuTextColor;
    border: variables_light.$overlayMenuBorder;
    box-shadow: variables_light.$overlayMenuShadow;
    border-radius: variables_light.$borderRadius;
    min-width: variables_light.$menuWidth;

    .p-contextmenu-root-list {
        outline: 0 none;
    }

    .p-submenu-list {
        padding: variables_light.$verticalMenuPadding;
        background: variables_light.$overlayMenuBg;
        border: variables_light.$overlayMenuBorder;
        box-shadow: variables_light.$overlayMenuShadow;
        border-radius: variables_light.$borderRadius;
    }

    .p-menuitem {
        @include mixins.menuitem();
    }

    .p-menuitem-separator {
        border-top: variables_light.$divider;
        margin: variables_light.$menuSeparatorMargin;
    }

    .p-submenu-icon {
        font-size: variables_light.$menuitemSubmenuIconFontSize;

        &.p-icon {
            width: variables_light.$menuitemSubmenuIconFontSize;
            height: variables_light.$menuitemSubmenuIconFontSize;
        }
    }
}
