@use "../../../themes/sudosos-light/variables_light";
@use "../../mixins";

// core
.p-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.p-menu .p-menuitem-link {
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none;
    overflow: hidden;
    position: relative;
}

.p-menu .p-menuitem-text {
    line-height: 1;
}

// theme
.p-menu {
    padding: variables_light.$verticalMenuPadding;
    background: variables_light.$menuBg;
    color: variables_light.$menuTextColor;
    border: variables_light.$menuBorder;
    border-radius: variables_light.$borderRadius;
    min-width: variables_light.$menuWidth;

    .p-menuitem {
        @include mixins.menuitem();
    }

    &.p-menu-overlay {
        background: variables_light.$overlayMenuBg;
        border: variables_light.$overlayMenuBorder;
        box-shadow: variables_light.$overlayMenuShadow;
    }

    .p-submenu-header {
        margin: variables_light.$submenuHeaderMargin;
        padding: variables_light.$submenuHeaderPadding;
        color: variables_light.$submenuHeaderTextColor;
        background: variables_light.$submenuHeaderBg;
        font-weight: variables_light.$submenuHeaderFontWeight;
        border-top-right-radius: variables_light.$submenuHeaderBorderRadius; 
        border-top-left-radius: variables_light.$submenuHeaderBorderRadius; 
    }

    .p-menuitem-separator {
        border-top: variables_light.$divider;
        margin: variables_light.$menuSeparatorMargin;
    }
}
