@use "../../../themes/sudosos-light/variables_light";
@use "../../mixins";

// core
.p-tabmenu {
    overflow-x: auto;
}

.p-tabmenu-nav {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    flex-wrap: nowrap;
}

.p-tabmenu-nav a {
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    position: relative;
    text-decoration: none;
    text-decoration: none;
    overflow: hidden;
}

.p-tabmenu-nav a:focus {
    z-index: 1;
}

.p-tabmenu-nav .p-menuitem-text {
    line-height: 1;
}

.p-tabmenu-ink-bar {
    display: none;
    z-index: 1;
}

.p-tabmenu::-webkit-scrollbar {
    display: none;
}

// theme
.p-tabmenu {
    .p-tabmenu-nav {
        background: variables_light.$tabviewNavBg;
        border: variables_light.$tabviewNavBorder;
        border-width: variables_light.$tabviewNavBorderWidth;

        .p-tabmenuitem {
            margin-right: variables_light.$tabviewHeaderSpacing;

            .p-menuitem-link {
                border: variables_light.$tabviewHeaderBorder;
                border-width: variables_light.$tabviewHeaderBorderWidth;
                border-color: variables_light.$tabviewHeaderBorderColor;
                background: variables_light.$tabviewHeaderBg;
                color: variables_light.$tabviewHeaderTextColor;
                padding: variables_light.$tabviewHeaderPadding;
                font-weight: variables_light.$tabviewHeaderFontWeight;
                border-top-right-radius: variables_light.$borderRadius;
                border-top-left-radius: variables_light.$borderRadius;
                transition: variables_light.$listItemTransition;
                margin: variables_light.$tabviewHeaderMargin;
                outline-color: transparent;

                .p-menuitem-icon {
                    margin-right: variables_light.$inlineSpacing;
                }

                &:not(.p-disabled):focus-visible {
                    @include mixins.focused-inset();
                }
            }

            &:not(.p-highlight):not(.p-disabled):hover {
                .p-menuitem-link {
                    background: variables_light.$tabviewHeaderHoverBg;
                    border-color: variables_light.$tabviewHeaderHoverBorderColor;
                    color: variables_light.$tabviewHeaderTextHoverColor;
                }
            }

            &.p-highlight {
                .p-menuitem-link {
                    background: variables_light.$tabviewHeaderActiveBg;
                    border-color: variables_light.$tabviewHeaderActiveBorderColor;
                    color: variables_light.$tabviewHeaderTextActiveColor;
                }
            }
        }
    }
}
