/* Commonly used basic styling */

/* Text overflow */
.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Position */
.absolute-position {
  position: absolute;
  top: 0;
  left: 0;
}

.full-dimension {
  width: 100%;
  height: 100%;
}

.fullscreen-positioning {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

/* Flexbox */
.flex-container {
  display: flex;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.image {
  object-fit: cover;
  background-color: $image-bg-color;
}

.content-body {
  background-color: $body-overlay-color;
  border-radius: $border-radius-sm;
}

.content-body-contrast {
  background-color: var(--accent-color);;
  border-radius: $border-radius-sm;
}

/* Border Radius */
.br-rounder {
  border-radius: $border-radius-rounder;
}

.br-std {
  border-radius: $border-radius;
}

.br-sm {
  border-radius: $border-radius-sm;
}

.br-xs {
  border-radius: $border-radius-xs;
}

/* Font and text */
.font-size-lg {
  font-size: $font-size-lg;
}

.font-size-md {
  font-size: $font-size-medium;
}

.font-size-sm {
  font-size: $font-size-sm;
}

.min-w {
  &-70 {
    min-width: 70px;
  }
  &-65 {
    min-width: 65px;
  }
  &-34 {
    min-width: 34px;
  }
  &-24 {
    min-width: 24px;
  }
}

/* Reused styles */

.accent-text {
  color: var(--accent-color);
}

/* Point of sale */
.point-of-sale {
  display: flex;
  flex-direction: column;
  height: 100%;

  > .header {
    align-items: center;
    display: flex;
    min-height: 72px;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-right: 35px;

    .header-row {
      align-items: center;
      display: flex;
      width: 100%;
      height: 100%;
      gap: 0.5rem;
      flex-wrap: nowrap;
    }
  }
}



.product-image {
  width: $cart-product-image-size;
  height: $cart-product-image-size;
  border-radius: $border-radius-sm;
}

/* Input styles */
input,
input:focus {
  border: none;
  border-radius: $border-radius-sm;
  color: var(--accent-color);;
  font-size: $font-size-lg;
  height: $search-height;
  outline-color: var(--accent-color);;
  padding: 10px;
}

.search-close {
  min-width: $search-height;
  height: $search-height;
}

/* Custom button styles */
.c-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  color: var(--accent-color);;
  transition: background-color 0.2s ease-in-out;

  &.active {
    background-color: var(--accent-color);;
    color: $text-on-accent;

    > svg {
      color: $text-on-accent;

      &-large {
        font-size: $icon-large;
      }
    }
  }

  &.icon {
    &-large {
      > svg {
        font-size: $icon-large;
      }
    }

    &-larger {
      > svg {
        font-size: $icon-larger;
      }
    }

    &-md {
      font-size: $icon-md;
    }
  }

  &.square {
    border-radius: $border-radius-sm;
  }

  &.squarer {
    border-radius: $border-radius-xs;
  }

  &.rounder {
    border-radius: $border-radius-rounder;
    padding: 13px 25px;
  }
}
