@use 'sudosos-light/variables_light';
@use 'variables';

/* Customizations to the primevue base theme should be defined here */

body {
  min-height: 100vh;
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

/* Fix menubar color to GEWIS red */
.p-menubar {
  background: variables.$primaryColor;
}

/* Fix original font */
.p-component {
  font-family: variables_light.$fontFamily;
}
.p-link {
  font-family: variables_light.$fontFamily;
}

/* Remove the borders from the datatables */
.p-datatable {
  .p-datatable-thead > tr > th {
    border-top: none;
    text-transform: uppercase;
  }

  &.p-datatable-striped {
    .p-datatable-tbody {
      > tr:nth-child(even) {
        background: variables_light.$tableBodyRowEvenBg;

        &.p-highlight {
          background: variables.$highlightBg;
          color: variables.$highlightTextColor;

          .p-row-toggler {
            color: variables.$highlightTextColor;

            &:hover {
              color: variables.$highlightTextColor;
            }
          }
        }
      }
    }
  }

  .p-datatable-tbody {
    > tr {
      > td {
        border: none;
      }
    }
  }

  &.p-datatable-gridlines {
    .p-datatable-tbody {
      > tr {
        > td {
          border: none;
        }
      }
    }
  }
}

/* Fixing submenuitem link colors */
.p-menubar {
  .p-submenu-list {
    .p-menuitem {
      .p-menuitem-content {
        .p-menuitem-link {
          .p-menuitem-text {
            color: variables_light.$submenuTextColor;
          }
        }

        &:hover {
          .p-menuitem-link {
            .p-menuitem-text {
              color: variables_light.$submenuitemTextHoverColor;
            }
          }
        }
      }

      &.p-highlight {
        > .p-menuitem-content {
          color: variables_light.$menuitemTextActiveColor;
          background: variables_light.$menuitemActiveBg;

          .p-menuitem-link {
            .p-menuitem-text {
              color: variables_light.$menuitemTextActiveColor;
            }

            .p-menuitem-icon,
            .p-submenu-icon {
              color: variables_light.$menuitemIconActiveColor;
            }
          }
        }

        &.p-focus {
          > .p-menuitem-content {
            background: variables_light.$menuitemActiveFocusBg;
          }
        }
      }

      &:not(.p-highlight):not(.p-disabled) {
        &.p-focus {
          > .p-menuitem-content {
            color: variables_light.$submenuitemTextFocusColor;
            background: variables_light.$submenuitemFocusBg;

            .p-menuitem-link {
              .p-menuitem-text {
                color: variables_light.$submenuitemTextFocusColor;
              }

              .p-menuitem-icon,
              .p-submenu-icon {
                color: variables_light.$submenuitemIconFocusColor;
              }
            }
          }
        }

        > .p-menuitem-content {
          &:hover {
            color: variables_light.$submenuitemTextHoverColor;
            background: variables_light.$submenuitemFocusBg;

            .p-menuitem-link {
              .p-menuitem-text {
                color: variables_light.$submenuitemTextHoverColor;
              }

              .p-menuitem-icon,
              .p-submenu-icon {
                color: variables_light.$submenuitemIconHoverColor;
              }
            }
          }
        }
      }
    }
  }
}

/* Fix mobile menubar */
@mixin mobilemenuitem {
  > .p-menuitem-content {
    color: variables_light.$menuitemTextColor;
    transition: variables_light.$listItemTransition;
    border-radius: variables_light.$menuitemBorderRadius;

    .p-menuitem-link {
      color: variables_light.$menuitemTextColor;
      padding: variables_light.$mobilemenuitemPadding;
      user-select: none;

      .p-menuitem-text {
        color: variables_light.$menuitemTextColor;
        font-family: variables_light.$fontFamily;
        font-weight: 500;
      }

      .p-menuitem-icon {
        color: variables_light.$menuitemIconColor;
        margin-right: variables_light.$inlineSpacing;
      }

      .p-submenu-icon {
        color: variables_light.$menuitemIconColor;
      }
    }
  }

  &.p-highlight {
    > .p-menuitem-content {
      color: variables_light.$menuitemTextActiveColor;
      background: variables_light.$menuitemActiveBg;

      .p-menuitem-link {
        padding: variables_light.$mobilemenuitemPadding;

        .p-menuitem-text {
          color: variables_light.$menuitemTextActiveColor;
        }

        .p-menuitem-icon,
        .p-submenu-icon,
        .pi {
          color: variables_light.$menuitemIconActiveColor;
        }
      }
    }

    &.p-focus {
      > .p-menuitem-content {
        background: transparent;
      }
    }
  }

  &:not(.p-highlight):not(.p-disabled) {
    &.p-focus {
      > .p-menuitem-content {
        color: variables_light.$menuitemTextFocusColor;
        background: transparent;

        .p-menuitem-link {
          color: variables_light.$menuitemTextFocusColor;
          padding: variables_light.$mobilemenuitemPadding;

          .p-menuitem-text {
            color: variables_light.$menuitemTextFocusColor;
          }

          .p-menuitem-icon,
          .p-submenu-icon,
          .pi {
            color: variables_light.$menuitemIconFocusColor;
          }
        }
      }
    }

    > .p-menuitem-content {
      &:hover {
        color: variables_light.$menuitemTextHoverColor;
        background: transparent;

        .p-menuitem-link {
          padding: variables_light.$mobilemenuitemPadding;
          .p-menuitem-text {
            color: variables_light.$menuitemTextHoverColor;
            transition: variables_light.$listItemTransition;
          }

          .p-menuitem-icon,
          .p-submenu-icon,
          .pi {
            color: variables_light.$menuitemIconHoverColor;
            transition: variables_light.$listItemTransition;
          }
        }
      }
    }
  }
}

@mixin mobilesubmenuitem {
  .p-menuitem-content {
    color: variables_light.$submenuTextColor;
    transition: variables_light.$listItemTransition;
    border-radius: variables_light.$menuitemBorderRadius;

    .p-menuitem-link {
      color: variables_light.$submenuitemTextColor;
      padding: variables_light.$mobilesubmenuitemPadding !important;
      user-select: none;

      .p-menuitem-text {
        color: variables_light.$submenuitemTextColor;
        font-family: variables_light.$fontFamily;
        font-weight: 500;
      }

      .p-menuitem-icon {
        color: variables_light.$submenuitemIconColor;
        margin-right: variables_light.$inlineSpacing;
      }

      .p-submenu-icon {
        color: variables_light.$submenuitemIconColor;
      }
    }
  }

  &.p-highlight {
    > .p-menuitem-content {
      color: variables_light.$submenuitemTextActiveColor;
      background: variables_light.$submenuitemActiveBg;

      .p-menuitem-link {
        padding: variables_light.$mobilemenuitemPadding;

        .p-menuitem-text {
          color: variables_light.$submenuitemTextActiveColor;
        }

        .p-menuitem-icon,
        .p-submenu-icon,
        .pi {
          color: variables_light.$submenuitemIconActiveColor;
        }
      }
    }

    &.p-focus {
      > .p-menuitem-content {
        background: variables_light.$submenuitemActiveFocusBg;
      }
    }
  }

  &:not(.p-highlight):not(.p-disabled) {
    &.p-focus {
      > .p-menuitem-content {
        color: variables_light.$submenuitemTextFocusColor;

        .p-menuitem-link {
          color: variables_light.$submenuitemTextFocusColor;
          padding: variables_light.$mobilemenuitemPadding;

          .p-menuitem-text {
            color: variables_light.$submenuitemTextFocusColor;
          }

          .p-menuitem-icon,
          .p-submenu-icon,
          .pi {
            color: variables_light.$submenuitemIconFocusColor;
          }
        }
      }
    }

    > .p-menuitem-content {
      &:hover {
        color: variables_light.$submenuitemTextHoverColor;

        .p-menuitem-link {
          padding: variables_light.$mobilemenuitemPadding;

          .p-menuitem-text {
            color: variables_light.$submenuitemTextHoverColor;
            transition: variables_light.$listItemTransition;
          }

          .p-menuitem-icon,
          .p-submenu-icon,
          .pi {
            color: variables_light.$submenuitemIconHoverColor;
            transition: variables_light.$listItemTransition;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .p-menubar {
    width: 100%;
    background-color: variables.$primaryColor;

    .p-submenu-list {
      .p-menuitem {
        @include mobilesubmenuitem();
      }
    }

    .p-menubar-button {
      .p-icon {
        width: 100%;
        height: 100%;
      }
    }

    .p-menubar-root-list {
      position: relative;
      overflow: hidden;
      max-height: 0;
      transition: max-height 0.5s ease-in-out;
    }

    &.p-menubar-mobile-active {
      top: 0;
    }

    &.p-menubar-mobile-active .p-menubar-root-list {
      position: relative !important;
      top: 0 !important;
      background-color: variables.$primaryColor;
      border: none;
      max-height: fit-content !important;
      transition: max-height 0.5s ease-in-out;

      > .p-menuitem {
        @include mobilemenuitem();
      }
    }

    &.p-menubar-mobile .p-menubar-root-list {
      overflow: hidden;
      max-height: 0;
    }
  }
}

/**
 * Style cards more like the GEWIS website
 */
.p-panel {
  .p-panel-header {
    border-radius: 0;
    border: 0;

    .p-panel-title {
      font-weight: 600;
    }
  }

  .p-panel-content {
    border-radius: 0;
    border: 0;
    padding: 1.25rem;
  }

  .p-panel-footer {
    border-radius: 0;
    border: 0;

    background-color: variables_light.$panelFooterBg;
    button {
      background-color: rgba(0, 0, 0, 0); /* transparent */
      padding: 1.25rem;
      color: variables_light.$panelFooterTextColor;
    }
    button:hover {
      color: variables_light.$panelFooterTextHoverColor;
    }
  }
}
