@use 'sass:color';
$primaryLightColor: rgba(212, 0, 0, 0.5) !default;
$primaryColor: #d40000 !default;
$primaryDarkColor: #c40000 !default;
$primaryDarkerColor: #b40000 !default;
$primaryTextColor: #ffffff !default;
$primaryAccentBg: #fcbfbf !default;

$highlightBg: $primaryColor !default;
$highlightTextColor: $primaryTextColor !default;
$highlightFocusBg: color.adjust($primaryColor, $lightness: -8%) !default;
