@use "sass:meta";
@use "../../../themes/sudosos-light/variables_light";
@use "../../mixins";

// core
.p-message-wrapper {
    display: flex;
    align-items: center;
}

.p-message-icon {
    flex-shrink: 0;
}

.p-message-close {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.p-message-close.p-link {
    margin-left: auto;
    overflow: hidden;
    position: relative;
}

.p-message-enter-from {
    opacity: 0;
}

.p-message-enter-active {
    transition: opacity 0.3s;
}

.p-message.p-message-leave-from {
    max-height: 1000px;
}

.p-message.p-message-leave-to {
    max-height: 0;
    opacity: 0;
    margin: 0;
}

.p-message-leave-active {
    overflow: hidden;
    transition: max-height 0.3s cubic-bezier(0, 1, 0, 1), opacity 0.3s, margin 0.15s;
}

.p-message-leave-active .p-message-close {
    display: none;
}

// theme
.p-message {
    margin: variables_light.$messageMargin;
    border-radius: variables_light.$borderRadius;

    .p-message-wrapper {
        padding: variables_light.$messagePadding;
    }

    .p-message-close {
        width: variables_light.$actionIconWidth;
        height: variables_light.$actionIconHeight;
        border-radius: variables_light.$actionIconBorderRadius;
        background: transparent;
        transition: variables_light.$actionIconTransition;
        outline-color: transparent;

        &:hover {
            background: rgba(255, 255, 255, 0.5);
        }

        &:focus-visible {
            @include mixins.focused();
        }
    }

    &.p-message-info {
        background: variables_light.$infoMessageBg;
        border: variables_light.$infoMessageBorder;
        border-width: variables_light.$messageBorderWidth;
        color: variables_light.$infoMessageTextColor;

        .p-message-icon {
            color: variables_light.$infoMessageIconColor;
        }

        .p-message-close {
            color: variables_light.$infoMessageIconColor;
        }
    }

    &.p-message-success {
        background: variables_light.$successMessageBg;
        border: variables_light.$successMessageBorder;
        border-width: variables_light.$messageBorderWidth;
        color: variables_light.$successMessageTextColor;

        .p-message-icon {
            color: variables_light.$successMessageIconColor;
        }

        .p-message-close {
            color: variables_light.$successMessageIconColor;
        }
    }

    &.p-message-warn {
        background: variables_light.$warningMessageBg;
        border: variables_light.$warningMessageBorder;
        border-width: variables_light.$messageBorderWidth;
        color: variables_light.$warningMessageTextColor;

        .p-message-icon {
            color: variables_light.$warningMessageIconColor;
        }

        .p-message-close {
            color: variables_light.$warningMessageIconColor;
        }
    }

    &.p-message-error {
        background: variables_light.$errorMessageBg;
        border: variables_light.$errorMessageBorder;
        border-width: variables_light.$messageBorderWidth;
        color: variables_light.$errorMessageTextColor;

        .p-message-icon {
            color: variables_light.$errorMessageIconColor;
        }

        .p-message-close {
            color: variables_light.$errorMessageIconColor;
        }
    }

    @if meta.variable-exists(secondaryMessageBg) {
        &.p-message-secondary {
            background: $secondaryMessageBg;
            border: $secondaryMessageBorder;
            border-width: variables_light.$messageBorderWidth;
            color: $secondaryMessageTextColor;

            .p-message-icon {
                color: $secondaryMessageIconColor;
            }

            .p-message-close {
                color: $secondaryMessageIconColor;
            }
        }
    }

    @if meta.variable-exists(contrastMessageBg) {
        &.p-message-contrast {
            background: $contrastMessageBg;
            border: $contrastMessageBorder;
            border-width: variables_light.$messageBorderWidth;
            color: $contrastMessageTextColor;

            .p-message-icon {
                color: $contrastMessageIconColor;
            }

            .p-message-close {
                color: $contrastMessageIconColor;
            }
        }
    }

    .p-message-text {
        font-size: variables_light.$messageTextFontSize;
        font-weight: variables_light.$messageTextFontWeight;
    }

    .p-message-icon {
        font-size: variables_light.$messageIconFontSize;
        margin-right: variables_light.$inlineSpacing;
    }

    .p-icon:not(.p-message-close-icon) {
        width: variables_light.$messageIconFontSize;
        height: variables_light.$messageIconFontSize;
    }
}
