@use "sass:color";
@use "sass:list";
@use "../../../themes/sudosos-light/variables_light";

@use 'sass:math';

// core
.p-overlaypanel {
    margin-top: 10px;
}

.p-overlaypanel-flipped {
    margin-top: -10px;
    margin-bottom: 10px;
}

.p-overlaypanel-close {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

/* Animation */
.p-overlaypanel-enter-from {
    opacity: 0;
    transform: scaleY(0.8);
}

.p-overlaypanel-leave-to {
    opacity: 0;
}

.p-overlaypanel-enter-active {
    transition: transform 0.12s cubic-bezier(0, 0, 0.2, 1), opacity 0.12s cubic-bezier(0, 0, 0.2, 1);
}

.p-overlaypanel-leave-active {
    transition: opacity 0.1s linear;
}

.p-overlaypanel:after,
.p-overlaypanel:before {
    bottom: 100%;
    left: calc(var(--overlayArrowLeft, 0) + 1.25rem);
    content: ' ';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.p-overlaypanel:after {
    border-width: 8px;
    margin-left: -8px;
}

.p-overlaypanel:before {
    border-width: 10px;
    margin-left: -10px;
}

.p-overlaypanel-flipped:after,
.p-overlaypanel-flipped:before {
    bottom: auto;
    top: 100%;
}

.p-overlaypanel.p-overlaypanel-flipped:after {
    border-bottom-color: transparent;
}

.p-overlaypanel.p-overlaypanel-flipped:before {
    border-bottom-color: transparent;
}

// theme
.p-overlaypanel {
    background: variables_light.$overlayContentBg;
    color: variables_light.$panelContentTextColor;
    border: variables_light.$overlayContentBorder;
    border-radius: variables_light.$borderRadius;
    box-shadow: variables_light.$overlayContainerShadow;

    .p-overlaypanel-content {
        padding: variables_light.$panelContentPadding;
    }

    .p-overlaypanel-close {
        background: variables_light.$buttonBg;
        color: variables_light.$buttonTextColor;
        width: variables_light.$actionIconWidth;
        height: variables_light.$actionIconHeight;
        transition: variables_light.$actionIconTransition;
        border-radius: variables_light.$actionIconBorderRadius;
        position: absolute;
        top: math.div(-1 * variables_light.$actionIconWidth, 2);
        right: math.div(-1 * variables_light.$actionIconWidth, 2);

        &:enabled:hover {
            background: variables_light.$buttonHoverBg;
            color: variables_light.$buttonTextHoverColor;
        }
    }

    &:after {
        border-style: solid;
        border-color: rgba(variables_light.$overlayContentBg, 0);
        border-bottom-color: variables_light.$overlayContentBg;
    }

    &:before {
        border-style: solid;

        @if (list.nth(variables_light.$overlayContentBorder, 2) == 'none') {
            border-color: rgba(variables_light.$overlayContentBg, 0);
            border-bottom-color: color.scale(variables_light.$overlayContentBg, $lightness: -5%);
        }
        @else {
            border-color: rgba(list.nth(variables_light.$overlayContentBorder, 3), 0);
            border-bottom-color: color.scale(list.nth(variables_light.$overlayContentBorder, 3), $lightness: -5%);
        }
    }

    &.p-overlaypanel-flipped {
        &:after {
            border-top-color: variables_light.$overlayContentBg;
        }

        &:before {
            @if (list.nth(variables_light.$overlayContentBorder, 2) == 'none') {
                border-top-color: variables_light.$overlayContentBg;
            }
            @else {
                border-top-color: list.nth(variables_light.$overlayContentBorder, 3);
            }
        }
    }
}
