VITE_APP_API_BASE='https://sudosos.test.gewis.nl/api/v1'
VITE_APP_IMAGE_BASE='https://sudosos.test.gewis.nl/static/'
VITE_APP_GEWIS_TOKEN=sudosos-dev
VITE_APP_STRIPE_PUBLISHABLE_KEY='pk_test_51GsQ83CTbnWP3CTYRobkOgrA4EjkHqvAN6FpDCccxfXayLzj4prFU0GeMIefYW0pvdwXuXqpmqJVLnf6bUyvNJ2T009bK0Sn1L'
VITE_APP_STRIPE_RETURN_URL='http://localhost:5173/'
