// Colors
$text-primary: hsl(0, 0%, 100%);
:root {
  --gewis-red: rgba(212, 0, 0, 1);
}
$gewis-red: var(--gewis-red);
$gewis-red-shadow: rgba(212, 0, 0, 0.5);
$gewis-grey: rgba(150, 150, 150, 1);
$gewis-grey-shadow: rgba(150, 150, 150, 0.5);
$gewis-grey-light: rgba(248, 248, 248, 1);
$gewis-grey-accent: rgba(232, 232, 232, 1);
$gewis-green: rgba(138, 196, 94, 1);
$bootstrap-black: #212529;

// Sizing
$border-radius: 16px;
$nav-height: 62px;

// Scrollbar
$scroll-bar-width: 40px;

// Padding and sizing
$default-padding: 16px;
$default-padding-half: calc($default-padding/2)+4px;
$top-bottom-height: 64px;
$font-size: 20px;
