@import './base.css';
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:500,500i,700,700i&display=swap');

#app {

  font-weight: normal;
}


@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {

  #app {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
}

.page-title {
  font-weight: 500;
  font-family: Raleway, sans-serif;
}

:deep(.p-button-label){
  text-transform: uppercase!important;
}
