@use "../../../themes/sudosos-light/variables_light";
@use "../../mixins";

// core
.p-accordion-header-action {
    cursor: pointer;
    display: flex;
    align-items: center;
    user-select: none;
    position: relative;
    text-decoration: none;
}

.p-accordion-header-action:focus {
    z-index: 1;
}

.p-accordion-header-text {
    line-height: 1;
}

// theme
.p-accordion {
    .p-accordion-header {
        .p-accordion-header-link {
            padding: variables_light.$accordionHeaderPadding;
            border: variables_light.$accordionHeaderBorder;
            color: variables_light.$accordionHeaderTextColor;
            background: variables_light.$accordionHeaderBg;
            font-weight: variables_light.$accordionHeaderFontWeight;
            border-radius: variables_light.$borderRadius;
            transition: variables_light.$listItemTransition;
            outline-color: transparent;

            .p-accordion-toggle-icon {
                margin-right: variables_light.$inlineSpacing;
            }
        }

        &:not(.p-disabled) {
            .p-accordion-header-link {
                &:focus-visible {
                    @include mixins.focused-inset();
                }
            }
        }

        &:not(.p-highlight):not(.p-disabled):hover {
            .p-accordion-header-link {
                background: variables_light.$accordionHeaderHoverBg;
                border-color: variables_light.$accordionHeaderHoverBorderColor;
                color: variables_light.$accordionHeaderTextHoverColor;
            }
        }

        &:not(.p-disabled).p-highlight {
            .p-accordion-header-link {
                background: variables_light.$accordionHeaderActiveBg;
                border-color: variables_light.$accordionHeaderActiveBorderColor;
                color: variables_light.$accordionHeaderTextActiveColor;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
            }

            &:hover {
                .p-accordion-header-link {
                    border-color: variables_light.$accordionHeaderActiveHoverBorderColor;
                    background: variables_light.$accordionHeaderActiveHoverBg;
                    color: variables_light.$accordionHeaderTextActiveHoverColor;
                }
            }
        }
    }

    .p-accordion-content {
        padding: variables_light.$accordionContentPadding;
        border: variables_light.$accordionContentBorder;
        background: variables_light.$accordionContentBg;
        color: variables_light.$accordionContentTextColor;
        border-top: 0;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        border-bottom-right-radius: variables_light.$borderRadius;
        border-bottom-left-radius: variables_light.$borderRadius;
    }

    .p-accordion-tab {
        margin-bottom: variables_light.$accordionSpacing;

        @if variables_light.$accordionSpacing == 0 {
            .p-accordion-header {
                .p-accordion-header-link {
                    border-radius: 0;
                }
            }

            .p-accordion-content {
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
            }

            &:not(:first-child) {
                .p-accordion-header {
                    .p-accordion-header-link {
                        border-top: 0 none;
                    }

                    &:not(.p-highlight):not(.p-disabled):hover,
                    &:not(.p-disabled).p-highlight:hover {
                        .p-accordion-header-link {
                            border-top: 0 none;
                        }
                    }
                }
            }

            &:first-child {
                .p-accordion-header {
                    .p-accordion-header-link {
                        border-top-right-radius: variables_light.$borderRadius;
                        border-top-left-radius: variables_light.$borderRadius;
                    }
                }
            }

            &:last-child {
                .p-accordion-header:not(.p-highlight) {
                    .p-accordion-header-link {
                        border-bottom-right-radius: variables_light.$borderRadius;
                        border-bottom-left-radius: variables_light.$borderRadius;
                    }
                }
                
                .p-accordion-content {
                    border-bottom-right-radius: variables_light.$borderRadius;
                    border-bottom-left-radius: variables_light.$borderRadius;
                }
            }
        } 
    }
}
