@use "../../../themes/sudosos-light/variables_light";

.p-card {
    background: variables_light.$panelContentBg;
    color: variables_light.$panelContentTextColor;
    box-shadow: variables_light.$cardShadow;
    border-radius: variables_light.$borderRadius;

    .p-card-body {
        padding: variables_light.$cardBodyPadding;
    }

    .p-card-title {
        font-size: variables_light.$cardTitleFontSize;
        font-weight: variables_light.$cardTitleFontWeight;
        margin-bottom: variables_light.$inlineSpacing;
    }

    .p-card-subtitle {
        font-weight: variables_light.$cardSubTitleFontWeight;
        margin-bottom: variables_light.$inlineSpacing;
        color: variables_light.$cardSubTitleColor;
    }

    .p-card-content {
        padding: variables_light.$cardContentPadding;
    }

    .p-card-footer {
        padding: variables_light.$cardFooterPadding;
    }
}
