@use "../../../themes/sudosos-light/variables_light";
@use "../../mixins";

// core
.p-panel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.p-panel-title {
    line-height: 1;
}

.p-panel-header-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    overflow: hidden;
    position: relative;
}

// theme
.p-panel {
    .p-panel-header {
        border: variables_light.$panelHeaderBorder;
        padding: variables_light.$panelHeaderPadding;
        background: variables_light.$panelHeaderBg;
        color: variables_light.$panelHeaderTextColor;
        border-top-right-radius: variables_light.$borderRadius;
        border-top-left-radius: variables_light.$borderRadius;

        .p-panel-title {
            font-weight: variables_light.$panelHeaderFontWeight;
        }

        .p-panel-header-icon {
            @include mixins.action-icon();
        }
    }

    &.p-panel-toggleable {
        .p-panel-header {
            padding: variables_light.$panelToggleableHeaderPadding;
        }
    }

    .p-panel-content {
        padding: variables_light.$panelContentPadding;
        border: variables_light.$panelContentBorder;
        background: variables_light.$panelContentBg;
        color: variables_light.$panelContentTextColor;
        border-top: 0 none;
        
        &:last-child {
            border-bottom-right-radius: variables_light.$borderRadius;
            border-bottom-left-radius: variables_light.$borderRadius;
        }
    }

    .p-panel-footer {
        padding: variables_light.$panelFooterPadding;
        border: variables_light.$panelFooterBorder;
        background: variables_light.$panelFooterBg;
        color: variables_light.$panelFooterTextColor;
        border-bottom-right-radius: variables_light.$borderRadius;
        border-bottom-left-radius: variables_light.$borderRadius;
        border-top: 0 none;
    }
}
