/* Colors */
:root {
  /* Primary text color */
  --text-primary: hsl(0, 0%, 100%);
  /* Gewis red colors */
  --gewis-red: rgba(212, 0, 0, 1);
  --gewis-dark-red: #c40000;
  /* Product card width */
  --product-card-width: 160px;
  --accent-color: rgba(212, 0, 0, 1);
}

/* Color variables */
$gewis-red: var(--gewis-red);
$gewis-red-shadow: rgba(212, 0, 0, 0.5);
$gewis-grey: rgba(150, 150, 150, 1);
$gewis-grey-shadow: rgba(150, 150, 150, 0.5);
$gewis-grey-light: rgba(248, 248, 248, 1);
$gewis-grey-accent: rgba(232, 232, 232, 1);
$gewis-green: rgba(138, 196, 94, 1);
$bootstrap-black: #212529;

$accent-color: rgba(157, 41, 62);
$text-on-accent: white;
$body-overlay-color: white;
$image-bg-color: white;

/* Sizing */
$border-radius-rounder: 50px;
$border-radius: 16px;
$border-radius-sm: 10px;
$border-radius-xs: 5px;

/* Products */
$product-column-width: 160px;
$product-card-size: 128px;
$product-price-height: 15px;

$cart-product-image-size: 52px;
$cart-logout-size: 75px;

/* Keypad-display */
$keypad-display-height: 95px;
$key-size: 95px;
$key-gap-size: 8px;
$search-height: 55px;

/* Font sizes */
$font-size-larger: 45px;
$font-size-lg: 20px;
$font-size-medium: 16px;
$font-size-sm: 13px;

/* Icon sizes */
$icon-large: 40px;
$icon-larger: 50px;
$icon-md: 30px;
